
  <meta charset="utf-8">
  <title>{{ post.title }} | {{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }}">
  <!-- Reveal.js base CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/reveal.js/css/reveal.css">
  <!-- Reveal.js theme -->
  <link rel="stylesheet" href="{{ site.baseurl }}/reveal.js/css/theme/solarized.css" id="theme">
  <!-- Reveal.js syntax highlighting -->
  <link rel="stylesheet" href="{{ site.baseurl }}/reveal.js/lib/css/zenburn.css">
  <!-- For overriding Reveal.js defaults -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slides.css">
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? '{{ site.baseurl }}/reveal.js/css/print/pdf.css' : '{{ site.baseurl }}/reveal.js/css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
